body{
    background-color: #689;
}
h1{
    text-decoration: dotted;
}
h2{
    text-decoration: underline coral
}
.tablos{
    background-color: aliceblue;
    color: #ff8200
}
table{
    text-align: center;
}
table caption{
    color: black;
}