div {
    background: #456;
    width: 1500px;
    height: 150px;
    margin: 20px 0;
}
h1{
    height: 40px;
    color: aqua;
    background-color: blueviolet;
}
.formulario{
    background-color: #676;
    padding: 10px 40px ;

}
.formulario_input{
    width: 100%;
    padding: 5px;
}

.formulario_submit{
    letter-spacing: 2px;
    text-transform: uppercase;
    width: 60%;
}