body{
    font-family: sans-serif;
    background-color: #379e;
}
.Main{
    height: 80%;
    width: 50%;
    background-color: white;
    margin:  auto;
    border-radius: 1.2em;
    margin-top: 2em;
    box-shadow: 0 3px 20px black;
}


.cabecera{
    background-color: #334;
    border-radius: 1.2em 1.2em 0 0;
    padding: 1em;
    text-align: center; 
}

.cabecera h1{
    color: white;
}

.BigBox{
    padding: 2em;
    flex-direction: column;
    display: flex;
    align-items: center;
    gap: 1em;

}

.subCabecera{
    text-align: center;

}
.subCabecera h3{
    font-weight: lighter;
}
label{
    color: gray;

}
.recomendacion1 input:hover{
    border-color: black;
}
.BigBox input{
    width: 90%;
    padding: 1em;
    border-radius: 0.6em;
    border-style: solid;
}

.BigBox select{
    width: 90%;
    padding: 1em;
    border-radius: 0.6em;
    border-style: solid;
    background-color: white;
}
.BigBox textarea{
    width: 90%;
    padding: 1em;
    border-radius: 0.6em;
    border-style: solid;
}
.Formulario{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.recomendacion{
    display: flex;
   justify-content: space-between;
}
.recomendacion1{
    display: flex;
    gap: 0.2em;
}
.correo{
    background-color: #334;
    padding: 1em ;
    border-radius: 1.2em;
    display: flex;
    flex-direction: column;
    
}
.correo label{
    color: white;
    padding: 0.7em 0 0.3em 0;
}
.correo input{
    width: 85%;
}
.correo:focus{
    background-color: white
}
.correo input:valid{

    background-color: #4f48;
}
.correo input:invalid{
    color:#f00;

}
.botones{
    display: flex;
    gap: 1em;
}
.botones input{
    color: white;
    font-weight: 900;
    background-color: #999;
    border-style: none;
}
.botones input:first-child{
    background-color: #279;
}
.botones input:first-child:hover{
    background-color: #7cf;
}

:focus{
    background-color: #0044;
    padding: 0;
}
:focus:last-child{
    background-color: aliceblue;
}
input:focus{
    padding: 1.2em;
}
select:focus{
    padding: 1.3em;
}
textarea:focus{
    padding: 1.2em;
}

input:hover{
    background-color: #3343;
}
select:hover{
    background-color: #3343;
}
textarea:hover{
    background-color: #3343;
}