* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

form {
    width: 450px;
    border: 1px solid;
    border-radius: 5px;
}

div {
    padding: 5px;
    margin: 10px;
}

label {
    display: block;
}

input, select {
    height: 25px;
    border-radius: 5px;
}

button {
    color: white;
    border-color: #0c8f1b;
    border-radius: 5px;
    background-color: #0c8f1b;
    padding: 5px;
    margin: 10px;
}

#error {
    display: none;
    color: rgb(237, 68, 68);
}