body{
    font-family: sans-serif;
    background-color: #585d;
}
.main {
    margin: auto;
    text-align: center;
}
.main img{
    border-style: solid;
    border-radius: 1em;
    border-color: #a17;
    border-width: 0.3em;
}