body{
    background-color: aliceblue;
    font-family: sans-serif;
    margin: 20px 20px;
    padding: 10px;

}
h1{
    color: #008;
    text-shadow: 3px 3px 4px black;
    text-align: center;
}
.top h1+hr{
    width: 80%;
}
h2{
    color: #448;
}
.top{
    
    height: 100%;
    width: 100%;
}

div+h2{
    text-align: right;
}
.autor{
    text-align: right;
}

.parrafos p:first-child{
    font-style:oblique;
}
.parrafos p:last-child{
    font-weight: bolder;
}
.parrafos p:nth-child(2){
    padding: 10px;
    margin: 5px;
    border-left: #008;
    border-left-style: solid;
    border-left-width: 8px;
    background-color: #E5F3FF;
}
.parrafos p:first-letter{
    font-size: 200%;
    font-weight: bolder;
    color: #448;
}
.parrafos{
    text-align: justify;
}
